$background: #161618;
$foreground: #212121;
$modal: #212121;
$text-primary: #FFFFFF;
$text-secondary: #818181;

body {
  background-color: $background;
  color: $text-primary;
}

.navbar {
  background-color: $foreground;
  color: $text-secondary;
}
