$background: #161618;
$foreground: #212121;
$modal: #212121;
$text-primary: #FFFFFF;
$text-secondary: #818181;

body {
  background-color: $background;
  color: $text-primary;
}

.profile-view {
  background-color: $foreground;
  border-radius: 3px;
  margin: auto;
  padding: 20px 30px;
  max-width: 80%;
  margin-top: 30px;
  overflow: auto;
}