$background: #161618;
$foreground: #212121;
$modal: #212121;
$text-primary: #FFFFFF;
$text-secondary: #818181;


body {
  background-color: $background;
  color: $text-primary;
}

.register-view {
  margin-top: 30px;
  width: 50%;
  padding: 40px;
  border-radius: 3px;
  background-color: $foreground;
}

.form-label {
  color: $text-primary;
}

.form-control {
  border: none;
  background-color: darken($text-secondary, 30%);
  color: $text-primary
}

.form-control:focus {
  color: $text-primary;
  background-color: darken($text-secondary, 25%);
  border: none;
  box-shadow: none
}
