$background: #161618;
$foreground: #212121;
$modal: #212121;
$text-primary: #FFFFFF;
$text-secondary: #818181;


body {
  background-color: $background;
  color: $text-primary;
}

.modal-content {
  background-color: $modal;
}

.modal-header {
  border-bottom: 1px solid lighten($modal, 5%);
}

.modal-body {
  border-bottom: 1px solid lighten($modal, 5%);
}

.modal-footer {
  border-top: 1px solid lighten($modal, 5%);
}